# Django
SECRET_KEY=key
DEBUG=True
DJANGO_CELERY_APP=name

# PostgreSQL
POSTGRES_DB=name
POSTGRES_USER=user
POSTGRES_PASSWORD=password
POSTGRES_HOST=host
POSTGRES_PORT=5432

# Redis
REDIS_HOST=redis
REDIS_PORT=6379

# Celery
CELERY_BROKER_URL=redis://redis:6379/0
CELERY_RESULT_BACKEND=redis://redis:6379/0

# Stripe
STRIPE_SECRET_KEY=sk_test_....
STRIPE_PUBLIC_KEY=pk_test_....
